.common {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.thumbnail {
  width: 64px;
  height: 64px;
}

.info-block {
  margin-left: 10px;
  word-break: break-word;
}
