@import '~style/colors.scss';

.common {
  font-size: 16px;
  text-decoration: none;
  color: $white-80;

  border-radius: 15px;
  padding: 5px 15px;

  transition: all 0.5s ease;

  &:hover {
    color: $white;
    background-color: $green-dark;
  }

  &.active {
    color: $white;
    background-color: $midnight-blue;
  }
}
