.mask-inner {
  display: flex;
  height: 100%;
}

.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.top-center {
  align-items: flex-start;
  justify-content: center;
}

.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}

.middle-left {
  align-items: center;
  justify-content: flex-start;
}

.middle-center {
  align-items: center;
  justify-content: center;
}

.middle-right {
  align-items: center;
  justify-content: flex-end;
}

.bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}

.bottom-center {
  align-items: flex-end;
  justify-content: center;
}

.bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}
