$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$white-55: rgba(255, 255, 255, 0.55);

$black-55: rgba(0, 0, 0, 0.55);

$midnight-blue: #17252a;

$green-dark: #2b7a78;
$green: #3aafa9;

$gray: #c5c5c5;
$dark-gray: #9e9e9e;
