.common {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 300px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.meta-msg {
  height: 30px;
  font-size: 14px;
}
